{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
{% load static %}
<style>
    nav.navbar.bootsnav {
      background-color: #000  !important;   /* Change to your desired background color */
      border-bottom: none  !important;   /* Remove bottom border if not needed */
  }
  
  /* Make the navbar sticky */
    nav.navbar.bootsnav.navbar-sticky {
      position: fixed  !important;
      top: 0  !important;
      width: 100%  !important;
      z-index: 1000  !important; /* Adjust z-index as needed */
  }
   </style>

    <style>
        
  
    
    
        .card {
            width: 50%;
            max-width: 400px;
            margin: 200px auto 50px; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            z-index:1000;
            position: fixed; /* Make the container fixed */
            top: 10px; /* Adjust the top position as needed */
            left: 50%; /* Center the container horizontally */
            transform: translateX(-50%);
            
            
            
        }
        
    h1 {
        text-align: center;
        color: #333;
    }
    .login-form {
        display: flex;
        flex-direction: column;
      }
    
    
    
    label {
        margin-top: 10px;
        color: #333;
    }
    
    input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .error-message {
        color: red;
        margin-top: 10px;
    }
    
    button {
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #444; /* Darken the background color slightly */
    }
    
    a {
        text-decoration: none;
        color: #333;
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    
    a:hover {
        text-decoration: underline;
        
    }
    </style>
    <div style="padding-top: 200px; padding-bottom: 500px;">

    <div class="card">
        <h1>Login</h1>

        <form action="{% url 'car_auth:handlelogin' %}" class="login-form" method="post" onsubmit="return validateForm()">
            {% csrf_token %}
            <center>
                <h1></h1>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger " role="alert">
                {{message}}
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </center>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div class="error-message" id="error-message"></div>

            <button type="submit" class="btn btn-dark">Login</button>

            <br>
            New User? <a href="/auth/signup/">Signup</a>
        </form>
    </div>

        
    </div>
    {% endblock body %}