<!-- authentication/signup.html -->

{% extends "base.html" %}
{% block title %}Sign up{% endblock title %}
{% block content %}{% endblock content %}
{% block body %}
{% load static %}
<style>
    nav.navbar.bootsnav {
        background-color: #000  !important;   /* Change to your desired background color */
        border-bottom: none  !important;   /* Remove bottom border if not needed */
    }
    
    /* Make the navbar sticky */
    nav.navbar.bootsnav.navbar-sticky {
        position: fixed  !important;
        top: 0  !important;
        width: 100%  !important;
        z-index: 1000  !important; /* Adjust z-index as needed */
    }
    .navbar form {
        
        position: relative; 
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Align items vertically */
    }
    .navbar form input[type="text"] {
        /* Add specific styles for the search input in the navbar */
        padding: 8px; /* Adjust padding */
        margin-right: 5px; /* Adjust margin */
        border: 1px solid #ccc; /* Border color */
        border-radius: 3px; /* Rounded corners */
        width: 350px; 
    }
    
    .navbar form button[type="submit"] {
        /* Add specific styles for the search button in the navbar */
        position:absolute;
        right: 400px;
        top: 2px; 
        background-color: #007bff; /* Button background color */
        color: #fff; /* Button text color */
        border: none; /* Remove button border */
        border-radius: 3px; /* Rounded corners */
        padding: 8px 15px; /* Padding inside button */
        cursor: pointer; /* Change cursor to pointer on hover */
        
    }
    
    .navbar form button[type="submit"]:hover {
        background-color: #0056b3; /* Button background color on hover */
    } 
</style>

<style>
    .body{
        background-image:url("/static/assets/images/bg_image/car5.jpg");
        background-size: cover; /* Cover the entire background */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Do not repeat the background image */
      }
   .card {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: calc(50% + 100px); /* Fixed at 50% from the top */
    left: 50%; /* Fixed at 50% from the left */
    transform: translate(-50%, -50%);
    overflow-y: auto;  
    height:60%; 

  }
    h1 {
        text-align: center;
        color: #333;
    }
    .signup-form {
        display: flex;
        flex-direction: column;
      }
    
    
    label {
        margin-top: 10px;
        color: #333;
    }
    
    input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .errorMessages {
        color: red;
        margin-top: 10px;
    }
    
    button {
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #444; /* Darken the background color slightly */
    }
    
    a {
        text-decoration: none;
        color: #333;
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    
    a:hover {
        text-decoration: underline;
    }
</style>

<body>
<div   style="padding-top: 800px; padding-bottom: 100px;">
<div class="card bg-light">
    


 <h1>User Signup</h1>

    <form  action="{% url 'car_auth:signup'   %}" class="signup-form"method="POST"  onsubmit="return validateForm()">
   
        {% csrf_token %}
        <center>
        
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error" %}
        <div class ="alert alert-danger" role="alert">
        {{message}}
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
        {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        </center>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mob_number">Mobile Number:</label>
        <input type="text" id="mob_number" name="mob_number" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <div id="errorMessages" style="color: red;"></div>
        <button type="submit" class="btn btn-dark">Sign Up</button>
        <br>
        Already User?<a href="{% url 'car_auth:handlelogin' %}">Login</a>
        <br>
        
    </form>

    
</div>
</div>
</div>

</body>

{% endblock body %}