{% extends "base.html" %} {% block title %} Book Service {% endblock title %}
{% block content %}{% endblock content %}
{% block body %}
{% load static %}
 
 <style>
  nav.navbar.bootsnav {
    background-color: #000  !important;   /* Change to your desired background color */
    border-bottom: none  !important;   /* Remove bottom border if not needed */
}

/* Make the navbar sticky */
  nav.navbar.bootsnav.navbar-sticky {
    position: fixed  !important;
    top: 0  !important;
    width: 100%  !important;
    z-index: 1000  !important; /* Adjust z-index as needed */
}
 </style>
<style>
 
  

  .card {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: calc(50% + 100px); /* Fixed at 50% from the top */
    left: 50%; /* Fixed at 50% from the left */
    transform: translate(-50%, -50%);
    overflow-y: auto;  
    height: 60%; 
    
  }
  h1 {
    text-align: center;
    color: #333;
  }

  .book-service-form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
    color: #333;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }

  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    display: block;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
<div class="fixed-container" style="padding-top:800px; padding-bottom: 100px;">
<div class="card bg-light">
  <h2>Book Service</h2>
  <form
    method="post"
    action="{% url 'book_service' %}"
    class="book-service-form"
  >
    {% csrf_token %}
    <center>
      <h1></h1>
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == "error" %}
      <div class="alert alert-danger " role="alert">
      {{message}}
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
          {{message}}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
  </center>
  {% if ordered_cars %}
    <!-- Pre-fill the car field if the car object is provided -->
    <input
      type="text"
      id="car"
      name="car"
      value="{{ ordered_cars.0.car_name }}"  {# Assuming ordered_cars is a list of car objects #}
      {% if ordered_cars.0.car_name %}readonly{% endif %}
    />
{% else %}
    <label for="car">Car:</label>
    <select id="car" name="car" required>
        {% for car in ordered_cars %}
            <option value="{{ car.id }}">{{ car.car_name }}</option>
        {% endfor %}
    </select>
{% endif %}
<label for="customer_name">Username:</label>
<input type="text" id="customer_name" name="customer_name" value="{{ username }}" required />

    <label for="location">Location:</label>
    <select id="location" name="location" onchange="toggleAddressField()">
      <option value="home">Home</option>
      <option value="center">Center</option>
    </select>
    <br />
    <div id="addressField" style="display: none">
      <label for="address">Address:</label>
      <input
        type="text"
        id="address"
        name="address"
        placeholder="Enter address"
      />
    </div>
    <div id="centerAddress" style="display: none">
      Car Zone Address: 123 Center Street, City, Country
    </div>
    <br />

    <label for="service_type">Service Type:</label>
    <select id="service_type" name="service_type" required>
      <option value="maintenance">Maintenance</option>
      <option value="repair">Repair</option>
      <option value="other">Other</option>
    </select>
    <!-- Address Field -->

    <!-- Date Field -->
    <label for="date">Date:</label>
    <select id="date" name="date">
      <!-- JavaScript will populate the options -->
    </select>
    <br />

    <!-- Time Field -->
    <label for="time">Time:</label>
    <select id="time" name="time">
      <!-- JavaScript will populate the options -->
    </select>
    <br />
    <label for="comments">Comments:</label>
    <textarea id="comments" name="comments" rows="4" cols="50"></textarea>

    <!-- Button Field -->
    <button type="submit" id="submitButton">Book service</button>
  </form>

</div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the car_id from the URL query parameter
        const urlParams = new URLSearchParams(window.location.search);
        const carId = urlParams.get('car_id');

        // If carId is not null, preselect the corresponding option in the dropdown
        if (carId) {
            const carSelect = document.getElementById('car');
            const option = carSelect.querySelector(`option[value="${carId}"]`);
            if (option) {
                option.selected = true;
            }
        }


        generateDateOptions();
        generateTimeOptions();
        toggleAddressField()
        filterBookedDatesTimes();

      });




    function toggleAddressField() {
      var location = document.getElementById("location").value;
        var addressField = document.getElementById("addressField");
        var centerAddress = document.getElementById("centerAddress");
        
        var submitButton = document.getElementById("submitButton");
        


      if (location === 'home') {

          addressField.style.display = "block";
          centerAddress.style.display = "none";
           // Show pay button
         
         submitButton.style.display = "block";
        

      } else  {
        addressField.style.display = "none";
        centerAddress.style.display = "block";
       
        submitButton.style.display = "block";
        
      }

  }
  // Function to handle payment with Razorpay

  function generateDateOptions() {
    var select = document.getElementById("date");
    var today = new Date();
    var currentHour = today.getHours();
    var currentMinutes = today.getMinutes();

    // If the current time is after the last available time slot,
    // increment the date by 1 to select the next day
    if (currentHour >= 17 || (currentHour === 16 && currentMinutes >= 0)) {
      today.setDate(today.getDate() + 1);

    }
    select.innerHTML = '';

    for (var i = 0; i < 7; i++) {
      var date = new Date(today);
      date.setDate(today.getDate() + i);
      var option = document.createElement("option");
      option.value =  formatDate(date);
      option.textContent = formatDateDisplay(date);
      select.appendChild(option);
    }
  }
  function formatDate(date) {
    return date.toISOString().slice(0, 10);
  }

  // Helper function to format date for display
  function formatDateDisplay(date) {
    return date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
  }

  function generateTimeOptions() {
      var select = document.getElementById("time");
      var today = new Date();
      var currentHour = today.getHours();
      var currentMinute = today.getMinutes();
      var times = [
        "10:00 AM - 11:00 AM",
        "11:00 AM - 12:00 PM",
        "12:00 PM - 1:00 PM",
        "1:00 PM - 2:00 PM",
        "2:00 PM - 3:00 PM",
        "3:00 PM - 4:00 PM",
        "4:00 PM - 5:00 PM",
        "5:00 PM - 6:00 PM"
      ];

       // Find the index of the current time in the times array

        var startIndex = Math.floor((currentHour - 10) * 2);
        if (currentMinute >= 30) {
            startIndex += 1;
        }
        select.innerHTML='';

       // Populate the time select dropdown with time slots starting from the current hour
       for (var i = startIndex; i < times.length; i++) {
           var option = document.createElement("option");
           option.value = times[i];
           option.textContent = times[i];
           select.appendChild(option);
       }

    }


    function validateForm() {
        var location = document.getElementById("location").value;
        var address = document.getElementById("address").value;
        if (location === 'home' && address.trim() === '') {
            alert("Please enter your address.");
            return false;
        }
        return true;


    }

    var bookedDatesTimes =  [
      {% for date, time in booked_dates_times %}
      { date: new Date('{{ date.year }}', '{{ date.month|add:"-1" }}', '{{ date.day }}'),
        time: '{{ time.hour }}:{{ time.minute }}:{{ time.second }}' }
      {% if not forloop.last %},{% endif %}
  {% endfor %}
  ];
  function filterBookedDatesTimes() {
    var dateSelect = document.getElementById('date');
    var timeSelect = document.getElementById('time');
    var selectedDate = dateSelect.value;

    // Filter out booked times for the selected date
    var availableTimes = [
        "10:00 AM - 11:00 AM",
        "11:00 AM - 12:00 PM",
        "12:00 PM - 1:00 PM",
        "1:00 PM - 2:00 PM",
        "2:00 PM - 3:00 PM",
        "3:00 PM - 4:00 PM",
        "4:00 PM - 5:00 PM",
        "5:00 PM - 6:00 PM"
    ];

    availableTimes = availableTimes.filter(function(time) {
        // Split the time range to get start and end times
        var [start, end] = time.split(' - ');

        // Convert the selected date to match the format in bookedDatesTimes
        var selectedDateTime = new Date(selectedDate + ' ' + start);

        // Check if the selected date and time is in bookedDatesTimes
        return !bookedDatesTimes.some(function(dateTime) {
            return dateTime.date.getTime() === selectedDateTime.getTime() && dateTime.time === start;
        });
    });

    // Update options in the time select dropdown
    timeSelect.innerHTML = '';
    availableTimes.forEach(function(time) {
        var option = document.createElement('option');
        option.value = time;
        option.textContent = time;
        timeSelect.appendChild(option);
    });
  }
</script>
 {% endblock body %}
