{% extends "base.html" %}
{% block content %}{% endblock content %}
{% block body %}
{% load static %}

<style>
    nav.navbar.bootsnav {
        background-color: #000; /* Change to your desired background color */
        border-bottom: none; /* Remove bottom border if not needed */
    
    }
    
    /* Make the navbar sticky */
    nav.navbar.bootsnav.navbar-sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Adjust z-index as needed */
    }
    .navbar form {
        
        position: relative; 
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Align items vertically */
    }
    .navbar form input[type="text"] {
        /* Add specific styles for the search input in the navbar */
        padding: 8px; /* Adjust padding */
        margin-right: 5px; /* Adjust margin */
        border: 1px solid #ccc; /* Border color */
        border-radius: 3px; /* Rounded corners */
        width: 350px; 
    }
    
    .navbar form button[type="submit"] {
        /* Add specific styles for the search button in the navbar */
        position:absolute;
        right: 400px;
        top: 2px; 
        background-color: #007bff; /* Button background color */
        color: #fff; /* Button text color */
        border: none; /* Remove button border */
        border-radius: 3px; /* Rounded corners */
        padding: 8px 15px; /* Padding inside button */
        cursor: pointer; /* Change cursor to pointer on hover */
        
    }
    
    .navbar form button[type="submit"]:hover {
        background-color: #0056b3; /* Button background color on hover */
    }
</style>

   
   <div style="padding-top: 300px; padding-bottom: 250px;">
   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ car.image.url }}" alt="{{ car.car_name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 
                style="font-weight: bold; color: #3498db;">{{ car.car_name }}</h2>
                <p>{{ car.description }}</p>
                <p>Category: {{ car.category }}</p>
                <p>Price: {{ car.price }}</p>
                <p>Make: {{ car.make }}</p>
                <p>Model: {{ car.model }}</p>
                <p>Year: {{ car.year }}</p>
                <p> Transmission:{{car.transmission_type}}</p>
                <!-- Add buttons for booking a test drive and purchasing -->
                 
                {% if has_booked_test_drive %}
                <a href="{% url 'user_history' %}" class="btn btn-primary">Track Test Drive</a>
                {% else %}
                <a href="{% url 'book_test_drive_from_car_detail' car_id=car.id %}" class="btn btn-primary">Book Test Drive</a>
                {% endif %}
                <a href="{% url 'checkout' car_id=car.id %}" class="btn btn-success">Book Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}